Django>=2.0.10,<3.1
django-countries
django_debug_toolbar
django_extensions
django-filter<2.0
django-model-utils
django-prettyjson
django-rest-swagger
djangorestframework
djangorestframework-filters
djangorestframework-serializer-extensions
idna
psycopg2-binary
pygments
python-memcached
pytz
requests
requests-futures
scikit-image
uwsgi_tasks

# TODO: Consider OTP for Admin site
# django_otp
# qrcode
